---
import Centros from "@components/astro/Centros.astro";
import ContactForm from "@components/astro/ContactForm.astro";
import Footer from "@components/astro/Footer.astro";
import Header from "@components/astro/Header.astro";
import Hero from "@components/astro/Hero.astro";
import Services from "@components/astro/Services.astro";
import SobreMi from "@components/astro/SobreMi.astro";
import Testimonials from "@components/astro/Testimonials.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Dr. Guillermo Terrado">
  <div class="bg-gradient-to-r from-custom-start to-custom-end">
    <Header />
    <Hero />
  </div>
  <!-- <Trusted />-->
  <SobreMi />
  <Services />
  <Testimonials />
  <Centros />
  <div class="bg-gradient-to-b from-custom-top to-custom-top">
    <ContactForm />
  </div>
  <Footer />
</Layout>
