<section id="centros" class="bg-[#fff] py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">
      Centros en donde me puedes encontrar
    </h2>

    <div class="flex flex-wrap justify-center items-center gap-10 mx-auto">
      <a
        href="https://www.irema.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/img/logoIrema.webp" alt="Irema" class="h-32" />
      </a>
      <a
        href="https://fertilitybenidorm.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/logoFertilityBenidorm.png"
          alt="Fertility Benidorm"
          class="h-32"
        />
      </a>
    </div>
  </div>
</section>
