---
// Añade enlaces a secciones como "Inicio", "Servicios", "Testimonios"
---

<header class="flex items-center justify-center max-w-full bg-transparent px-4">
  <nav
    class="w-full md:w-3/4 lg:w-1/2 h-14 flex items-center justify-evenly m-4 bg-[rgba(255,255,255,0.2)] rounded-full"
  >
    <!-- <a
      href="#hero"
      class="rounded-full text-[#ffffff] hover-underline hover-scale px-3 py-1"
    >
      Inicio
    </a>-->
    <a
      href="#services"
      class="text-sm md:text-base rounded-full text-[#ffffff] hover-underline hover-scale px-2 md:px-3 py-1"
    >
      Servicios
    </a>
    <a
      href="#testimonials"
      class="text-sm md:text-base rounded-full text-[#ffffff] hover-underline hover-scale px-2 md:px-3 py-1"
    >
      Testimonios
    </a>
    <a
      href="#contact"
      class="text-sm md:text-base rounded-full text-[#ffffff] hover-underline hover-scale px-2 md:px-3 py-1"
    >
      Contacto
    </a>
  </nav>
</header>
