---
// Añade enlaces a secciones como "Inicio", "Servicios", "Testimonios"
---

<header class="flex items-center justify-center max-w-full bg-transparent">
  <nav
    class="w-1/2 h-14 flex items-center justify-evenly m-4 bg-[rgba(255,255,255,0.2)] rounded-full"
  >
    <a
      href="#hero"
      class="rounded-full text-[#ffffff] hover-effect px-3 py-1 hover:bg-[rgba(255,255,255,0.33)]"
    >
      Inicio
    </a>
    <a
      href="#services"
      class="rounded-full hover-effect px-3 py-1 hover:bg-[rgba(255,255,255,0.33)]"
    >
      Servicios
    </a>
    <a
      href="#testimonials"
      class="rounded-full hover-effect px-3 py-1 hover:bg-[rgba(255,255,255,0.33)]"
    >
      Testimonios
    </a>
    <a
      href="#contact"
      class="rounded-full hover-effect px-3 py-1 hover:bg-[rgba(255,255,255,0.33)]"
    >
      Contacto
    </a>
  </nav>
</header>
