---
// Información del Dr. Guillermo Terrado y su especialización
---

<section
  id="hero"
  class="relative grid grid-cols-2 grid-rows-1 gap-10 text-center items-center bg-transparent px-10 place-items-center"
>
  <div class="col-start-2 row-start-1 relative">
    <img
      src="img/portraitDr.png"
      alt="Dr. Guillermo Terrado"
      class="flex items-baseline align-bottom"
    />
  </div>
  <div class="flex col-start-1 flex-col mx-5">
    <h1 class="text-6xl text-left font-bold text-white pb-5">
      Dr. Guillermo Terrado
    </h1>
    <p class="text-left text-base text-white max-w-xl mt-2 pb-5">
      Soy médico especialista en Medicina Reproductiva con más de 30 años de
      experiencia ayudando a pacientes a cumplir su deseo de ser padres. Mi
      sólida formación académica incluye especializaciones en Obstetricia y
      Ginecología, Cirugía Laparoscópica y Ecografía, lo que me permite ofrecer
      una atención personalizada y de alta calidad.
      <br />
      <br />Me apasiona la investigación y la docencia en Medicina Reproductiva.
      He publicado más de 300 trabajos científicos y participado como disertante
      en numerosos congresos. Soy miembro de prestigiosas sociedades
      científicas, incluyendo la Sociedad Española de Fertilidad (SEF) y le
      Sociedad Europea de Reproducción Humana (ESHRE). Considero fundamental una
      atención personalizada y empática hacia los pacientes, brindándoles el
      apoyo y las herramientas necesarias para que puedan alcanzar su sueño de
      tener un hijo
    </p>
    <a
      href="#contact"
      class="max-w-56 mt-4 px-4 py-2 bg-white text-blue-500 rounded-full transition hover:bg-blue-100"
    >
      Reservar Consulta
    </a>
  </div>
</section>
