---
import { Image } from "astro:assets";
import sonografiaImage from "../../public/img/sonografia.png";
---

<section id="services" class="bg-gray-50 py-12">
  <div class="container mx-auto px-4">
    <!-- Título y descripción -->
    <div
      class="flex flex-col lg:flex-row justify-between items-center lg:items-center mb-8"
    >
      <h1 class="text-5xl lg:text-5xl font-bold text-blue-900 max-w-xl pl-10">
        Médico Especialista en Medicina Reproductiva
      </h1>
      <p class="text-xl text-gray-700 mt-4 lg:mt-0 lg:ml-8 max-w-lg">
        Con un servicio personalizado y detallado. Asesoramientos personalizados
        en cada consulta, para ofrecer las mejores opciones y tratamientos
        disponibles
      </p>
    </div>

    <!-- Imagen principal -->
    <div class="mb-8">
      <Image
        src={sonografiaImage}
        alt="Sonografia"
        class="w-full h-auto object-cover rounded-lg shadow-md"
        widths={[300, 600, 1200]}
        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px, 1200px"
        format="png"
      />
    </div>

    <!-- Tarjetas informativas -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="bg-white p-6 text-left rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-blue-700 mb-2">
          35 años de experiencia en medicina reproductiva
        </h3>
        <p class="text-gray-600">
          Con más de tres décadas de experiencia, he ayudado a innumerables
          parejas a cumplir su sueño de ser padres. Enfocandome en la empatía,
          la ciencia y la dedicación.
        </p>
      </div>
      <div class="bg-white p-6 text-left rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-blue-700 mb-2">
          Medico cerficado en Argentina y España
        </h3>
        <p class="text-gray-600">
          Con licencias y certificaciones en ambos países, garantizo un servicio
          de calidad y confianza, respaldado por estándares internacionales.
        </p>
      </div>
      <div class="bg-white p-6 text-left rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-blue-700 mb-2">
          Consulta a traves del centro de fertilidad
        </h3>
        <p class="text-gray-600">
          Ofrezco consultas a través de Irema y Fertility Benidorm, equipado con
          la última tecnología y un equipo multidisciplinario de expertos para
          brindarte el mejor cuidado posible.
        </p>
      </div>
      <div class="bg-white p-6 text-left rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-blue-700 mb-2">
          Tecnología de vanguardia en tratamientos
        </h3>
        <p class="text-gray-600">
          Uso innovaciones tecnológicas en medicina para brindar tratamientos
          efectivos y seguros, con equipos de diagnóstico avanzados y técnicas
          precisas para asegurar los mejores resultados.
        </p>
      </div>
    </div>
  </div>
</section>
